<!DOCTYPE html>
<html>

<head>
    <meta chartset="utf-8">
    <title>Weather App</title>
</head>

<body>
    <!--creating post request using forms tag to send the city name to post method-->
    <form action="/post" method="post">
        <label for="cityInput">CityName :</label>
        <%- include("./partials/header.ejs")  -%>
<h1>Home</h1>
<p><%=Home%></p>

<%- include("./partials/footer.ejs")  -%><%- include("./partials/header.ejs")  -%>
<h1>Home</h1>
<p><%=Home%></p>

<%- include("./partials/footer.ejs")  -%><%- include("./partials/header.ejs")  -%>
<h1>Home</h1>
<p><%=Home%></p>

<%- include("./partials/footer.ejs")  -%>
    </form>
</body>

</html>