<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Todo with MongoDB</title>
    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>